@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

button,
a {
    @apply cursor-default;
}

img {
    pointer-events: none;
}

.tooltip {
    @apply invisible absolute bg-yellow-100 mr-1 p-2;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50
}

.bark {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}